/* Add this CSS to your stylesheet or component */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap");

.fatchat {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 100px; /* Adjust the size of the profile picture */
  height: 100px;
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 10px;
  margin-right: 20em;
}

.user-info h1 {
  font-size: 1.5rem;
  margin: 0;
}

.user-info p {
  margin: 0;
}

.user-posts {
  width: 80%;
  margin-top: 20px;
}
.user-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
