/* Fill me in :) */
.Map {
  height: 90vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Lexend", sans-serif;
}

.header {
  background-color: pink;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fatchat {
  text-decoration: solid;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: white;
  color: #ff748c;
}

.navbar a:nth-child(1) {
  background-color: #ffc0cd;
}
.navbar a:nth-child(2) {
  background-color: #ffc0cd;
}
.navbar a:nth-child(3) {
  background-color: #ffc0cd;
}
.navbar a:nth-child(4) {
  background-color: #ffc0cd;
}
#map {
  height: 700px;
  width: 100%;
}

/*Profile*/
.Profile-avatarContainer {
  padding: 0 35%;
}

.Profile-avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("../../public/corgi.jpg"); */
}

.Profile-name {
  font-size: 40px;
  font-weight: 300;
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--m) var(--s);
}
