.header {
    background-color: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fatchat {
    text-decoration: solid;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: #ff748c;
  }
  
  .navbar a:nth-child(1) {
    background-color: #ffc0cd;
  }
  .navbar a:nth-child(2) {
    background-color: #ffc0cd;
  }
  .navbar a:nth-child(3) {
    background-color: #ffc0cd;
  }
  .navbar a:nth-child(4) {
    background-color: #ffc0cd;
  }

  /* CARD/POST */
  .Card-container {
    border: var(--darkgrey) 1px solid;
    border-radius: var(--xs);
    margin-top: var(--m);
    background-color: #cbdff3;
    
  }
  
  .Card-container:first-of-type {
    margin-top: var(--l);
  }
  
  .Card-story,
  .Card-commentSection {
    padding: var(--m) var(--l);
  }
  
  .Card-storyUser {
    font-size: 20px;
    font-weight: 600;
    color:  #ffe5ea;
    font-family: "Lexend", sans-serif;

  }

  .Card-atSymbol {
    font-size: 15px;
    font-weight: 600;
    color:  #ff748c;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Lexend", sans-serif;

  }
  
  .Card-storyContent {
    font-size: 20px;
    margin: var(--s) 0 0;
    color: #ffffff;
    font-family: "Lexend", sans-serif;

  }
  
  .Card-commentSection {
    background-color: var(--grey);
    border-top: 1px solid var(--darkgrey);
  }
  
  .Card-commentBody {
    margin: 0 0 var(--s);
  }
  