.header {
    background-color: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fatchat {
    text-decoration: solid;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: white;
    color: #ff748c;
  }
  
  .navbar a:nth-child(1) {
    background-color: #ffc0cd;
  }
  .navbar a:nth-child(2) {
    background-color: #ffc0cd;
  }
  .navbar a:nth-child(3) {
    background-color: #ffc0cd;
  }
  .navbar a:nth-child(4) {
    background-color: #ffc0cd;
  }