.NewPostInput-input,
.NewPostInput-button,
.search-bar input {
  font-family: "Open Sans";
  font-size: 16px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  position: relative;
  flex-grow: 1;
  border: 2px solid pink;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  width: 40vw;
  height: 60px;
}

.NewPostInput-input:focus-within {
  border-color: pink;
  box-shadow: 0 0 0 var(--xs) pink (0, 123, 255, 0.25);
}

.NewPostInput-button {
  position: relative;
  color: white;
  border: pink 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: pink;
  transition: color 0.1s, background 0.1s;
  width: 20vw;
}

.NewPostInput-button:hover {
  color: var(--white);
  background-color: #ff748c;
}

.search-bar {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40vw;
  border: 2px solid pink;
}

.search-bar input {
  width: 35vw;
  padding: 15px;
  margin-bottom: 0px;
  border: 1px solid pink;
}

.search-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-bar li {
  cursor: pointer;
  padding: 5px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e0e0e0;
}

.search-bar li:hover {
  background-color: #e0e0e0;
}
